assets/screens/layouts/spotify-height-350.png
assets/screens/layouts/spotify-lg.png
assets/screens/layouts/spotify-md.png
assets/screens/layouts/spotify-s.png
assets/screens/layouts/spotify-xs.png
assets/screens/video/spotify-hover.mp4
assets/screens/video/spotify-responsive.mp4
