*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* #region utilities */
:root{
    --s-accent: #adfe2e;
    --s-sidebar-color: #000101;
    --s-sidebar-width: 300px;
    --s-right-side-color: #151822;
    --s-footer-color: #282929;
    --s-footer-height: 90px;
    --s-upgrade-bar-height: 90px;
    --s-upgrade-bar-color: #080a13;
    --s-font-family: 'Montserrat', sans-serif;
    --s-font-secondary-color: #a3a2a2;
    --s-font-weight-nav: 600;
    --s-font-size-section: 1.625rem;
    --s-font-weight-section: 800;
    --s-font-size-album-title: 16px;
    --s-font-weight-album-title: 700;
    --s-font-size-album-author: 12px;
    --s-font-weight-album-author: 600;
    --s-font-size-sidebar: 13px;
    --s-font-weight-sidebar: 600;
    --s-player-line-color: #5a5a5a;
}

/* #region scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: var(--s-right-side-color); 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--s-font-secondary-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: white; 
}

/* #endregion scrollbar */

body{
    font-family: var(--s-font-family);
    letter-spacing: -0.05rem;
}

main{
    height: calc(100vh - var(--s-footer-height));
}

nav{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a{
    text-decoration: none;
}

nav a{
    color: white;
    text-transform: uppercase;
    color: var(--s-font-secondary-color);
    font-weight: var(--s-font-weight-nav);
    margin: 0 0.5rem;
    margin-bottom: 2rem;
}

nav a:hover{
    color: white;
}

.row{
    display: flex;
    margin: 0 -0.5rem;
    flex-wrap: wrap;
}

[class^="col-"]{
    padding: 0 0.5rem;
}

.col-2{
    width: calc(100% / 12 * 2);
}

.flex{
    display: flex;
}

h2{
    font-size: var(--s-font-size-section);
    font-weight: var(--s-font-weight-section);
    color: white;
}

footer{
    height: var(--s-footer-height);
    background-color: var(--s-footer-color);
    position: relative;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    align-items: center;
}


/* #endregion utilities */

/* #region main */
.sidebar{
    background-color: var(--s-sidebar-color);
    width: var(--s-sidebar-width);
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    overflow: hidden;
}

.logo{
    width: 130px;
    margin-bottom: 1.5rem;
}

.logo-xs{
    display: none;
    margin-bottom: 1rem;
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.sidebar a{
    color: var(--s-font-secondary-color);
    font-size: var(--s-font-size-sidebar);
    font-weight: var(--s-font-weight-sidebar);
}

.sidebar-menu a{
    margin-bottom: 0.75rem;
}

.sidebar a:hover{
    color: white;
}

.sidebar-menu img{
    margin-right: 0.5rem;
    font-size: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
    filter: opacity(50%);
}

.sidebar-menu a:first-child img{
    filter: opacity(1);
}

.sidebar-menu a:first-child{
    color: white;
    border-left: 2px solid var(--s-accent);
    margin-left: -1rem;
    padding-left: 1rem;
}

.sidebar-menu-xs{
    display: none;
}

.sidebar-menu-xs img{
    width: 1.5rem;
}

.playlist-title{
    color: white;
    font-size: var(--s-font-weight-nav);
    font-weight: var(--s-font-weight-nav);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.create-playlist{
    margin-bottom: 1rem;
}

.create-playlist a{
    font-size: 16px;
}

.create-playlist i{
    font-size: 2.5rem;
    margin-right: 0.75rem;
    vertical-align: middle;
}

.playlist-list{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: calc(100vh - 500px);
}

.playlist-list a{
    margin-bottom: 0.75rem;
}

.playlist-list a:last-child{
    margin-bottom: 0;
}

.sidebar-user img{
    width: 1rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.sidebar-user a:first-child img{
    filter: opacity(50%);
}

.sidebar-user hr{
    margin: 0.75rem 0;
    border: 0;
    border-top: 1px solid var(--s-font-secondary-color);
}

.sidebar-user a:last-child{
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.sidebar-user a:last-child img{
    background-color: var(--s-font-secondary-color);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.sidebar-user-xs{
    display: none;
}

.sidebar-user-xs a:first-child img{
    width: 1rem;
    transform: translateX(-1px);
    margin-bottom: 0.75rem;
}

.sidebar-user-xs a:last-child img{
    width: 1.5rem;
    aspect-ratio: 1;
    background-color: var(--s-font-secondary-color);
    border-radius: 50%;
}

.right-side{
    background-color: var(--s-right-side-color);
    width: 100%;
}

.upgrade-bar{
    height: var(--s-upgrade-bar-height);
    background-color: var(--s-upgrade-bar-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.btn-upgrade{
    color: white;
    text-transform: uppercase;
    font-weight: var(--s-font-weight-nav);
    border: 2px solid white;
    padding: 0.5rem 3rem;
    border-radius: 2rem;
}

.btn-upgrade:hover{
    transform: scale(1.1);
}

.principal{
    overflow: auto;
    padding: 0 1.5rem 1.5rem;
    height: calc(100vh - var(--s-upgrade-bar-height) - var(--s-footer-height));
}

.underline-nav{
    position: relative;
}

.underline-nav::after{
    content: "";
    width: 30px;
    border: 0;
    border-bottom: 2px solid var(--s-accent);
    position: absolute;
    bottom: -0.25rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.name-section{
    margin-bottom: 2rem;
}

.card{
    margin-bottom: 2rem;
    text-align: center;
}

.card img{
    width: 100%;
    display: flex;
}

.cover{
    position: relative;
    margin-bottom: 1rem;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.over-circle{
    border-radius: 50%;
}

.cover a{
    position: absolute;
    color: white;
    font-size: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.cover:hover .overlay{
    background-color: rgba(0, 0, 0, 0.5);
}

.cover:hover a{
    display: block;
}

.title{
    font-size: var(--s-font-size-album-title);
    font-weight: var(--s-font-weight-album-title);
    color: white;
}

.author{
    font-size: var(--s-font-size-album-author);
    color: var(--s-font-secondary-color);
    font-weight: var(--s-font-weight-album-author);
    margin-top: 0.5rem;
}

#artists img{
    clip-path: circle();
}

/* #endregion main */

/* #region footer */
.footer-left, .footer-center, .footer-right{
    align-items: center;
}

.footer-left img{
    width: 40px;
    margin-right: 0.75rem;
}

.footer-left-icon a{
    color: var(--s-font-secondary-color);
}

.footer-left-icon a:first-child{
    margin-right: 0.75rem;
}

.player-description{
    margin-right: 1rem;
}

.player-title{
    font-size: 12px;
    font-weight: var(--s-font-weight-album-title);
    color: white;
}

.player-subtitle{
    font-size: 10px;
    font-weight: var(--s-font-weight-album-author);
    color: var(--s-font-secondary-color);
    display: block;
}

.player-subtitle:hover{
    text-decoration: underline;
    color: white;
}

.footer-left i:hover{
    color: white;
}

.center-footer{
    max-width: 520px;
    width: 100%;
    margin: 0 2rem;
}

.center-footer-up, .center-footer-down{
    align-items: center;
    justify-content: center;
    margin: 0.75rem 0;
    width: 100%;
}

.center-footer-up a{
    color: white;
    margin: 0 1rem;
}

.center-footer-up .fa-circle-play{
    font-size: 1.75rem;
}

.center-footer-up .fa-circle-play:hover{
    transform: scale(1.2);
}

.player-time{
    color: white;
    font-size: var(--s-font-size-album-author);
    font-weight: var(--s-font-weight-album-title);
}

.player-line{
    margin: 0 1rem;
    width: 100%;
    background-color: var(--s-player-line-color);
    height: 5px;
    border-radius: 1rem;
    position: relative;
}

.player-line::before{
    content: "";
    width: 30%;
    background-color: var(--s-font-secondary-color);
    height: 5px;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.player-line:hover::before{
    background-color: var(--s-accent);
}

.player-line::after{
    content: "";
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    top: calc(0px - 0.5rem + 2.5px);
    left: calc(30% - 0.5rem);
    background-color: white;
    z-index: 11;
    display: none;
}

.player-line:hover::after{
    display: block;
}

.footer-right i{
    display: block;
    color: white;
    margin-right: 1rem;
    font-size: 0.75rem;
}

.volume-line{
    width: 100px;
    background-color: var(--s-player-line-color);
    height: 5px;
    border-radius: 1rem;
    position: relative;
}


.volume-line::before{
    content: "";
    width: 30%;
    background-color: var(--s-font-secondary-color);
    height: 5px;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.volume-line:hover::before{
    background-color: var(--s-accent);
}

.volume-line::after{
    content: "";
    width: 0.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    top: calc(0px - 0.375rem + 2.5px);
    left: calc(30% - 0.5rem);
    background-color: white;
    z-index: 11;
    display: none;
}

.volume-line:hover::after{
    display: block;
}
/* #endregion footer */

/* #region resp-md */
@media screen and (max-width: 992px){
    .col-md-3{
        width: calc(100% / 12 * 3);
    }
}

/* #endregion resp-md */

/* #region resp-s */
@media screen and (max-width: 768px){
    .col-s-6{
        width: 50%;
    }

    .footer-left-icon{
        flex-direction: column;
    }

    .volume-line{
        width: 80px;
    }

    .footer-right-icon{
        flex-direction: column;
    }

    .footer-left-icon a:first-child{
        margin-right: 0;
    }

    .fa-list-ul{
        margin-bottom: 0.5rem;
    }
}
/* #endregion resp-s */

/* #region resp-xs */
@media screen and (max-width: 576px){
    body{
        min-width: 406px;
    }

    .sidebar{
        width: 50px;
        align-items: center;
        padding-top: 0.5rem;
    }

    .logo{
        display: none;
    }

    .logo-xs{
        display: block;
    }

    .sidebar-menu{
        display: none;
    }

    .sidebar-menu-xs{
        display: block;
    }

    .sidebar-playlist{
        display: none;
    }

    .sidebar-user{
        display: none;
    }

    .sidebar-user-xs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .player-description{
        margin-right: 0.5rem;
    }

    .center-footer{
        margin: 0 0.5rem;
    }

    .center-footer-up a{
        margin: 0 0.5rem;
    }

    .footer-right i{
        margin-right: 0.5rem;
    }

    .volume-line{
        width: 60px;
    }
}

/* #endregion resp-xs */

/* #region resp-height */
@media screen and (max-height: 400px){
    .upgrade-bar{
        display: none;
    }

    .principal{
        height: calc(100vh - var(--s-footer-height));
    }
}
/* #endregion resp-height */


