*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.debug footer > div{
    background-color: rgba(137, 43, 226, 0.464);
    height: 100%;
    width: 200px;
}

/* #region utilities */
:root{
    --s-accent: #adfe2e;
    --s-sidebar-color: #000101;
    --s-sidebar-width: 300px;
    --s-right-side-color: #151822;
    --s-footer-color: #282929;
    --s-footer-height: 90px;
    --s-upgrade-bar-height: 90px;
    --s-upgrade-bar-color: #080a13;
    --s-font-family: 'Montserrat', sans-serif;
    --s-font-secondary-color: #a3a2a2;
    --s-font-weight-nav: 600;
    --s-font-size-section: 1.625rem;
    --s-font-weight-section: 800;
    --s-font-size-album-title: 16px;
    --s-font-weight-album-title: 700;
    --s-font-size-album-author: 12px;
    --s-font-weight-album-author: 600;
    --s-font-size-sidebar: 13px;
    --s-font-weight-sidebar: 600;
}

/* #region scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: var(--s-right-side-color); 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--s-font-secondary-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: white; 
}

/* #endregion scrollbar */

body{
    font-family: var(--s-font-family);
    letter-spacing: -0.05rem;
}

main{
    height: calc(100vh - var(--s-footer-height));
}

nav{
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a{
    text-decoration: none;
}

nav a{
    color: white;
    text-transform: uppercase;
    color: var(--s-font-secondary-color);
    font-weight: var(--s-font-weight-nav);
    margin: 0 0.5rem;
    line-height: 4rem;
}

nav a:hover{
    color: white;
}

.row{
    display: flex;
    margin: 0 -0.5rem;
    flex-wrap: wrap;
}

[class^="col-"]{
    padding: 0 0.5rem;
}

.col-2{
    width: calc(100% / 12 * 2);
}

.flex{
    display: flex;
}

h2{
    font-size: var(--s-font-size-section);
    font-weight: var(--s-font-weight-section);
    color: white;
}

footer{
    height: var(--s-footer-height);
    background-color: var(--s-footer-color);
    position: relative;
    justify-content: space-between;
    padding: 1rem 0.5rem;
}


/* #endregion utilities */

/* #region main */
.sidebar{
    background-color: var(--s-sidebar-color);
    width: var(--s-sidebar-width);
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.logo{
    width: 130px;
    margin-bottom: 1.5rem;
}

.logo-xs{
    display: none;
    margin-bottom: 1rem;
    width: 1.5rem;
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.sidebar a{
    color: var(--s-font-secondary-color);
    font-size: var(--s-font-size-sidebar);
    font-weight: var(--s-font-weight-sidebar);
}

.sidebar-menu a{
    margin-bottom: 0.75rem;
}

.sidebar a:hover{
    color: white;
}

.sidebar-menu img{
    margin-right: 0.5rem;
    font-size: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
}

.sidebar-menu a:first-child{
    color: white;
    position: relative;
}

.sidebar-menu a:first-child:after{
    content: "";
    border: 0;
    border-top: 2px solid var(--s-accent);
    width: 1.7rem;
    position: absolute;
    transform: rotate(90deg);
    top: 50%;
    left: -1.75rem;
}

.sidebar-menu-xs{
    display: none;
}

.playlist-title{
    color: white;
    font-size: var(--s-font-weight-nav);
    font-weight: var(--s-font-weight-nav);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.create-playlist{
    margin-bottom: 1rem;
}

.create-playlist a{
    font-size: 16px;
}

.create-playlist i{
    font-size: 2.5rem;
    margin-right: 0.75rem;
    vertical-align: middle;
}

.playlist-list{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100px;
    /* height: calc(100vh - hfooter - hsidebar-down - hlogo - hsideabrmenu) */
}

.playlist-list a{
    margin-bottom: 0.75rem;
}

.sidebar-user img{
    width: 1rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.sidebar-user hr{
    margin: 0.5rem 0;
    border: 0;
    border-top: 1px solid var(--s-font-secondary-color);
}

.sidebar-user-xs{
    display: none;
}

.right-side{
    background-color: var(--s-right-side-color);
    width: 100%;
}

.upgrade-bar{
    height: var(--s-upgrade-bar-height);
    background-color: var(--s-upgrade-bar-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.btn-upgrade{
    color: white;
    text-transform: uppercase;
    font-weight: var(--s-font-weight-nav);
    border: 2px solid white;
    padding: 0.5rem 3rem;
    border-radius: 2rem;
}

.btn-upgrade:hover{
    transform: scale(1.1);
}

.principal{
    overflow: auto;
    padding: 0 1.5rem 1.5rem;
    height: calc(100vh - var(--s-upgrade-bar-height) - var(--s-footer-height));
}

.underline-nav{
    position: relative;
}

.underline-nav::after{
    content: "";
    width: 30px;
    border: 0;
    border-top: 2px solid var(--s-accent);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
}

.name-section{
    margin-bottom: 2rem;
}

.card{
    margin-bottom: 2rem;
    text-align: center;
}

.card img{
    width: 100%;
    display: flex;
}

.cover{
    position: relative;
    margin-bottom: 1rem;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.over-circle{
    border-radius: 50%;
}

.cover a{
    position: absolute;
    color: white;
    font-size: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.cover:hover .overlay{
    background-color: rgba(0, 0, 0, 0.5);
}

.cover:hover a{
    display: block;
}

.title{
    font-size: var(--s-font-size-album-title);
    font-weight: var(--s-font-weight-album-title);
    color: white;
}

.author{
    font-size: var(--s-font-size-album-author);
    color: var(--s-font-secondary-color);
    font-weight: var(--s-font-weight-album-author);
    margin-top: 0.5rem;
}

#artists img{
    clip-path: circle();
}

/* #endregion main */

/* #region footer */

/* #endregion footer */

/* #region resp-md */
@media screen and (max-width: 992px){
    .col-md-3{
        width: calc(100% / 12 * 3);
    }
}

/* #endregion resp-md */

/* #region resp-s */
@media screen and (max-width: 768px){
    .col-s-6{
        width: 50%;
    }
}
/* #endregion resp-s */

/* #region resp-xs */
@media screen and (max-width: 576px){
    body{
        min-width: 340px;
    }

    .sidebar{
        width: 50px;
        align-items: center;
        padding-top: 0.5rem;
    }

    .logo{
        display: none;
    }

    .logo-xs{
        display: block;
    }

    .sidebar-menu{
        display: none;
    }

    .sidebar-menu-xs{
        display: block;
    }

    .sidebar-playlist{
        display: none;
    }

    .sidebar-user{
        display: none;
    }

    .sidebar-user-xs{
        display: block;
    }
}

/* #endregion resp-xs */

/* #region resp-height */
@media screen and (max-height: 400px){
    .upgrade-bar{
        display: none;
    }

    .principal{
        height: calc(100vh - var(--s-footer-height));
    }
}
/* #endregion resp-height */


